[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
pydantic = "*"
typing = "*"
bs4 = "*"
wikipedia = "*"
wikipedia-api = "*"
pandas = "*"
"html.parser" = "*"
html5lib = "*"

[dev-packages]

[requires]
python_version = "3.7.2"
