[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pymongo = "*"
pydantic = "*"
dnspython = "*"
mysql-connector-python = "*"
beautifulsoup4 = "*"
requests = "*"
lxml = "*"
typing = "*"
bs4 = "*"
wikipedia = "*"
wikipedia-api = "*"
pandas = "*"
"html.parser" = "*"
html5lib = "*"
unidecode = "*"

[dev-packages]

[requires]
python_version = "3.9.4"
